name: Run Python Tests

on:
  push:
    branches: [ main, bugfix ]
  pull_request:
    branches: [ main, bugfix ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.14

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install numpy==2.3.5 pandas==2.3.3 flask==3.1.2 scikit-learn

    - name: Run smoke tests
      run: python3 -m unittest smoke_test.py

    - name: Run unit tests
      run: python3 -m unittest unit_test.py

    - name: Run integration tests
      run: python3 -m unittest integration_test.py
